provider:
    providerType: google
worker:
    implementation: generic-worker
    path: /home/ubuntu/.virtualbox_gw_runner/sleep.py
    configPath: /home/ubuntu/.virtualbox_gw_runner/generic-worker.config
workerConfig:
  livelogExecutable: /home/ubuntu/.taskcluster/livelog
  taskclusterProxyExecutable: /home/ubuntu/.taskcluster/taskcluster-proxy
